Repository eatyourpeas/checktick: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-test-passwords, pip-audit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Semgrep - catches security issues similar to CodeQL (XSS, injection, etc.)
  - repo: https://github.com/semgrep/semgrep
    rev: v1.102.0
    hooks:
      - id: semgrep
        name: Semgrep security scan
        args:
          - --config=p/python
          - --config=p/django
          - --config=p/security-audit
          - --error
          - --quiet
        # Only run on changed Python files for speed
        types: [python]
        # Skip test files (less critical for security)
        exclude: ^tests/

  # Check for hardcoded passwords in Python test files (only in new commits)
  - repo: local
    hooks:
      - id: check-test-passwords
        name: Check for hardcoded passwords in tests
        entry: python3
        language: system
        files: 'test.*\.py$'
        args:
          - -c
          - |
            import sys, re
            pattern = re.compile(r'password\s*=\s*["\'][a-zA-Z0-9]{4,}["\']')
            for filepath in sys.argv[1:]:
                with open(filepath) as f:
                    content = f.read()
                    # Skip if file uses TEST_PASSWORD constant
                    if 'TEST_PASSWORD' in content:
                        continue
                    # Check for hardcoded passwords
                    matches = pattern.findall(content)
                    if matches:
                        print(f'‚ùå {filepath}: Found hardcoded password: {matches[0]}')
                        print('   Use TEST_PASSWORD = "x" constant instead.')
                        sys.exit(1)
            sys.exit(0)

  - repo: https://github.com/GitGuardian/ggshield
    rev: v1.43.0
    hooks:
      - id: ggshield
        name: ggshield secret scan (pre-commit)
        args: ["secret", "scan", "pre-commit", "--verbose"]
        stages: [pre-commit]
      - id: ggshield
        name: ggshield secret scan (pre-push)
        args: ["secret", "scan", "pre-push", "--verbose"]
        stages: [pre-push]

  # Dependency vulnerability scanning (runs on push only, can be slow)
  # Note: Use s/security-audit for local checks; CI runs pip-audit in GitHub Actions
  - repo: local
    hooks:
      - id: pip-audit
        name: Check for vulnerable dependencies
        entry: bash -c 'echo "Dependency scanning runs in CI (see .github/workflows/security.yml)" && echo "Run s/security-audit for local checks"'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|poetry\.lock)$
        stages: [pre-push]
        always_run: false

docs: document s/update-cdn-assets usage and examples
  docs/cdn-libraries.md
Due: none

Update CDN libraries with new SRI hashes
  checktick_app/static/js/axe-core.min.js
Due: none

feat: implement export encryption and secure deletion
  checktick_app/surveys/models.py
  checktick_app/surveys/services/export_service.py
  checktick_app/surveys/services/retention_service.py
  checktick_app/surveys/tests/test_data_governance_views.py
  tests/test_export_encryption.py
  tests/test_secure_deletion.py
Due: check-test-passwords

refactor: remove obsolete TODOs for object storage and Celery
  checktick_app/surveys/services/export_service.py
  checktick_app/surveys/services/retention_service.py
Due: none

patch
  pyproject.toml
Due: pip-audit

fix: Upgrade pip to 26.0+ in Dockerfile to address CVE-2026-1703
  Dockerfile
Due: none

fix: Upgrade pip in Poetry virtualenv before running pip-audit
  .github/workflows/security.yml
Due: none

tidying - adds shields.io to cors allowed origins and settings.py - updates to readme - runs the outstanding migration
  .env.example
  README.md
  checktick_app/settings.py
  checktick_app/surveys/migrations/0042_alter_auditlog_action_alter_auditlog_scope.py
  docs/README.md
Due: none

ci: temporarily disable Northflank auto-deploy during org migration
  .github/workflows/docker-publish.yml
Due: none

update compliance checklist to be in date and hyperlinks work
  docs/compliance/annual-compliance-checklist-2026.md
Due: none

Fix naive datetime warning for Survey.start_at and end_at fields
  checktick_app/surveys/views.py
Due: none

Add comprehensive security improvements for survey publication
  checktick_app/surveys/templates/surveys/dashboard.html
  checktick_app/surveys/templates/surveys/publish_settings.html
  checktick_app/surveys/views.py
  tests/test_publication_security.py
  tests/test_token_security.py
Due: check-test-passwords

Add test for admin self-removal lockout protection
  tests/test_api_access_controls.py
Due: check-test-passwords

feat: require encryption for all surveys before publishing
  checktick_app/api/tests/test_publish_and_metrics_api.py
  checktick_app/api/views.py
  checktick_app/core/tier_limits.py
  checktick_app/surveys/tests/test_whole_response_encryption.py
  checktick_app/surveys/views.py
  tests/test_authenticated_invitations.py
  tests/test_publication_workflows.py
Due: check-test-passwords

docs: update home and pricing templates for universal encryption
  checktick_app/core/templates/core/home.html
  checktick_app/core/templates/core/pricing.html
Due: none

test fix
  tests/test_organization_encryption.py
Due: check-test-passwords

more linting
  docs/encryption-for-users.md
Due: none

reenable docker publsih
  .github/workflows/docker-publish.yml
Due: none

Implement Shamir Secret Sharing for custodian component
  .env.example
  checktick_app/settings.py
  checktick_app/surveys/management/commands/execute_platform_recovery.py
  checktick_app/surveys/management/commands/split_custodian_component.py
  checktick_app/surveys/management/commands/test_custodian_reconstruction.py
  checktick_app/surveys/management/commands/test_vault_connection.py
  checktick_app/surveys/shamir.py
  docs/encryption-technical-reference.md
  docs/key-management-for-administrators.md
  docs/vault.md
  vault/setup_vault.py
Due: check-test-passwords

Add comprehensive key rotation policy documentation
  docs/key-management-for-administrators.md
Due: none

linting items
  checktick_app/surveys/shamir.py
  checktick_app/surveys/tests/test_platform_recovery_commands.py
  checktick_app/surveys/tests/test_shamir.py
Due: check-test-passwords

team admin should be able to manage team
  checktick_app/context_processors.py
  checktick_app/core/views_billing.py
Due: none

adds demo accounts to a staging environment that bypass billing but keep 2FA. also adds some documentation.
  checktick_app/core/management/commands/create_demo_accounts.py
  docs/self-hosting-quickstart.md
Due: none

isort fix
  checktick_app/core/management/commands/create_demo_accounts.py
Due: none

Add platform key versioning system for secure key rotation
  checktick_app/settings.py
  checktick_app/surveys/management/commands/activate_platform_key_version.py
  checktick_app/surveys/management/commands/create_platform_key_version.py
  checktick_app/surveys/management/commands/rotate_platform_key_shares.py
  checktick_app/surveys/migrations/0043_add_platform_key_versioning.py
  checktick_app/surveys/migrations/0044_initialize_platform_key_v1.py
  checktick_app/surveys/models.py
  checktick_app/surveys/tests/test_platform_key_versioning.py
  checktick_app/surveys/tests/test_vault_key_recovery.py
  checktick_app/surveys/vault_client.py
  docs/encryption-technical-reference.md
  docs/vault.md
  pyproject.toml
Due: check-test-passwords, pip-audit

Fix CI test failure in test_multiple_versions_coexist
  checktick_app/surveys/tests/test_platform_key_versioning.py
Due: check-test-passwords

Add NHS survey styling controls
  checktick_app/settings.py
  checktick_app/static/css/nhsuk-frontend.min.css
  checktick_app/static/js/accessibility-test.js
  checktick_app/surveys/templates/surveys/builder.html
  checktick_app/surveys/templates/surveys/dashboard.html
  checktick_app/surveys/templates/surveys/detail.html
  checktick_app/surveys/templates/surveys/groups.html
  checktick_app/surveys/views.py
  checktick_app/templates/base.html
  checktick_app/templates/base_minimal.html
  checktick_app/templates/components/icons/nhs_logo.html
  docs/README.md
  docs/cdn-libraries.md
  docs/compliance/vulnerability-patch-log.md
  docs/getting-started.md
  docs/surveys.md
Due: none

debug failing test that passes locally but not in CI
  checktick_app/core/tests/test_password_reset_flow.py
Due: check-test-passwords

lint
  checktick_app/core/tests/test_password_reset_flow.py
Due: check-test-passwords

hopefully fix accessibility item
  checktick_app/core/tests/test_password_reset_flow.py
  checktick_app/surveys/templates/surveys/dashboard.html
Due: check-test-passwords

hopefully fixes text contrast in dashboard
  checktick_app/surveys/templates/surveys/dashboard.html
Due: none

updates colours in dashboard
  checktick_app/surveys/templates/surveys/dashboard.html
Due: none

chore(cdn): Upgrade SortableJS to 1.15.7, update SRI and templates
  .github/workflows/update-cdn-libraries.yml
  checktick_app/surveys/templates/surveys/builder.html
  checktick_app/surveys/templates/surveys/detail.html
  checktick_app/surveys/templates/surveys/group_builder.html
  checktick_app/surveys/templates/surveys/groups.html
  docs/cdn-libraries.md
  docs/compliance/vulnerability-patch-log.md
Due: none

updates sortable
  checktick_app/static/js/sortable.min.js
Due: none

bump
  pyproject.toml
Due: pip-audit
