Repository eatyourpeas/checktick: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-test-passwords, pip-audit

check-test-passwords:
  name: Check for hardcoded passwords in tests
  entry: python3
  language: system
  args:
  - -c
  ...

pip-audit:
  name: Check for vulnerable dependencies
  entry: bash -c 'echo "Dependency scanning runs in CI (see .github/workflows/security.yml)" && echo "Run s/security-audit for local checks"'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  always_run: false

Fix CodeQL security alerts
  checktick_app/core/email_utils.py
  checktick_app/surveys/email_utils.py
  tests/test_organisation_checkout.py
Due: check-test-passwords

Remove function parameters from log to satisfy CodeQL
  checktick_app/core/email_utils.py
Due: none

Add Organisation tier badge to question group sharing explainer
  checktick_app/surveys/templates/surveys/published_templates_list.html
Due: none

Improve Survey Map visualization and repeat management UX
  checktick_app/static/js/branching-visualizer.js
  checktick_app/static/js/groups-page.js
  checktick_app/surveys/templates/surveys/groups.html
  checktick_app/surveys/templates/surveys/partials/branching_visualizer.html
  checktick_app/surveys/urls.py
  checktick_app/surveys/views.py
  checktick_app/templates/components/icons/survey-map.html
Due: none

Change default light theme from nord to corporate
  .env.example
  .env.selfhost
  CONTRIBUTING.md
  checktick_app/context_processors.py
  checktick_app/core/themes.py
  checktick_app/settings.py
  checktick_app/static/css/daisyui_themes.css
  checktick_app/static/js/admin-theme.js
  checktick_app/static/js/theme-toggle.js
  docs/account-tiers-implementation.md
  docs/branching-and-repeats.md
  docs/branding-and-theme-settings.md
  docs/environment-variables-migration-plan.md
  docs/getting-started-account-types.md
  docs/self-hosting-themes.md
  docs/themes.md
Due: none

Fix trailing whitespace in docs
  docs/branching-and-repeats.md
  docs/self-hosting-themes.md
Due: none

Add WCAG 2.1 AA accessibility improvements to survey form
  checktick_app/surveys/templates/surveys/detail.html
Due: none

Add Accessibility and Inclusion docs category with UK spelling
  checktick_app/core/views.py
  docs/accessibility.md
  docs/account-tiers-implementation.md
  docs/documentation-system.md
  docs/getting-started.md
  docs/i18n.md
  docs/survey-translation.md
  docs/themes.md
  locale/README.md
Due: none

Add automated accessibility tests with Playwright and axe-core
  .github/workflows/ci.yml
  checktick_app/core/views.py
  docs/accessibility.md
  docs/testing-webapp.md
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/test_accessibility.py
Due: check-test-passwords, pip-audit

feat(accessibility): Apply WCAG 2.1 AA compliant patterns across templates
  checktick_app/core/templates/core/2fa/verify.html
  checktick_app/core/templates/core/home.html
  checktick_app/core/templates/core/org_setup.html
  checktick_app/core/templates/core/platform_admin/dashboard.html
  checktick_app/core/templates/core/platform_admin/organization_list.html
  checktick_app/core/templates/core/platform_admin/organization_stats.html
  checktick_app/core/templates/core/pricing.html
  checktick_app/core/templates/core/profile.html
  checktick_app/core/templates/core/subscription_portal.html
  checktick_app/surveys/templates/surveys/bulk_upload.html
  checktick_app/surveys/templates/surveys/dashboard.html
  checktick_app/surveys/templates/surveys/dataset_detail.html
  checktick_app/surveys/templates/surveys/dataset_list.html
  checktick_app/surveys/templates/surveys/group_builder.html
  checktick_app/surveys/templates/surveys/groups.html
  checktick_app/surveys/templates/surveys/list.html
  checktick_app/surveys/templates/surveys/partials/branching_visualizer.html
  checktick_app/surveys/templates/surveys/partials/question_conditions_panel.html
  checktick_app/surveys/templates/surveys/partials/survey_list_item.html
  checktick_app/surveys/templates/surveys/publish_settings.html
  checktick_app/surveys/templates/surveys/published_templates_list.html
  checktick_app/surveys/templates/surveys/recovery_dashboard.html
  checktick_app/surveys/templates/surveys/recovery_detail.html
  checktick_app/surveys/templates/surveys/tokens.html
  checktick_app/surveys/templates/surveys/user_management_hub.html
  checktick_app/templates/admin/login.html
  checktick_app/templates/base.html
  checktick_app/templates/registration/complete_signup.html
  checktick_app/templates/registration/signup.html
  tests/test_accessibility.py
Due: check-test-passwords

fix(tests): Update permission tests to check URL presence instead of CSS class
  checktick_app/surveys/tests/test_permissions.py
Due: check-test-passwords

fix(ci): Remove npm cache requirement (no lock file in repo)
  .github/workflows/ci.yml
Due: none

feat(dashboard): add Response Insights with answer distribution charts
  checktick_app/surveys/services/response_analytics.py
  checktick_app/surveys/templates/surveys/dashboard.html
  checktick_app/surveys/templates/surveys/partials/response_insights.html
  checktick_app/surveys/tests/test_csv_export.py
  checktick_app/surveys/tests/test_response_analytics.py
  checktick_app/surveys/views.py
Due: check-test-passwords

test: add integration tests for response insights dashboard
  checktick_app/surveys/tests/test_csv_export.py
  checktick_app/surveys/tests/test_response_insights.py
Due: check-test-passwords

docs: add reporting and exports documentation
  docs/reporting-and-exports.md
Due: none

linting issues
  checktick_app/surveys/tests/test_response_insights.py
Due: check-test-passwords

fix icons
  checktick_app/core/templates/core/home.html
  checktick_app/surveys/templates/surveys/partials/survey_list_item.html
  checktick_app/templates/components/icons/datasets.html
Due: none

fix: update filelock to 3.20.1 (GHSA-w853-jp5j-5j7f)
  poetry.lock
Due: pip-audit

dim / pastel, fix fonts to accept din
  .env.selfhost
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.dev
  Dockerfile.registry
  checktick_app/context_processors.py
  checktick_app/core/management/__init__.py
  checktick_app/core/management/commands/__init__.py
  checktick_app/core/management/commands/sync_branding.py
  checktick_app/core/themes.py
  checktick_app/settings.py
  checktick_app/static/css/daisyui_themes.css
  checktick_app/static/fonts/din-2014-rounded.css
  checktick_app/static/fonts/din-black.ttf
  checktick_app/static/fonts/din-bold.otf
  checktick_app/static/fonts/din-light.ttf
  checktick_app/static/fonts/din-medium.otf
  checktick_app/static/fonts/din-regular.ttf
  checktick_app/static/fonts/din.css
  checktick_app/static/icons/CheckTick_long-03.svg
  checktick_app/static/icons/CheckTick_tick.svg
  checktick_app/static/icons/checktick_brand_favicon_.html
  checktick_app/static/js/admin-theme.js
  checktick_app/static/js/theme-toggle.js
  checktick_app/templates/base.html
  checktick_app/templates/components/icons/checktick_long.html
  docker-compose.yml
  docs/account-tiers-implementation.md
  docs/branding-and-theme-settings.md
  docs/environment-variables-migration-plan.md
  docs/self-hosting-themes.md
  docs/themes.md
Due: none

pastel to lofi
  .env.selfhost
  CONTRIBUTING.md
  checktick_app/context_processors.py
  checktick_app/core/management/commands/sync_branding.py
  checktick_app/settings.py
  checktick_app/static/css/daisyui_themes.css
  checktick_app/static/js/admin-theme.js
  checktick_app/static/js/theme-toggle.js
  docker-compose.yml
  docs/account-tiers-implementation.md
  docs/branding-and-theme-settings.md
  docs/environment-variables-migration-plan.md
  docs/self-hosting-themes.md
Due: none

fix tests
  checktick_app/core/templates/core/my_surveys.html
Due: none

replace din with din round. remove need to provide default brand icon in env - default now in context processor and settings.
  checktick_app/context_processors.py
  checktick_app/settings.py
  checktick_app/static/fonts/COPYRIGHT.txt
  checktick_app/static/fonts/din-2014-rounded.css
  checktick_app/static/fonts/din-black.ttf
  checktick_app/static/fonts/din-bold.otf
  checktick_app/static/fonts/din-light.ttf
  checktick_app/static/fonts/din-medium.otf
  checktick_app/static/fonts/din-regular.ttf
  checktick_app/static/fonts/din-round-pro.css
  checktick_app/static/fonts/din.css
  checktick_app/static/fonts/dinroundpro.otf
  checktick_app/static/fonts/dinroundpro_black.otf
  checktick_app/static/fonts/dinroundpro_bold.otf
  checktick_app/static/fonts/dinroundpro_light.otf
  checktick_app/static/fonts/dinroundpro_medi.otf
  checktick_app/templates/admin/base_site.html
  checktick_app/templates/base.html
  checktick_app/templates/base_minimal.html
  docker-compose.dev.yml
  docs/branding-and-theme-settings.md
Due: none

refactor: use settings.py as single source of truth for branding defaults
  checktick_app/context_processors.py
Due: none

chore: update CodeQL Action from v3 to v4
  .github/workflows/security.yml
Due: none

Update CDN libraries with new SRI hashes
  axecore-new.js
  checktick_app/templates/base.html
  htmx-new.js
  sortable-new.js
Due: none

docs: add Platform Admin Logs dashboard documentation for DPST compliance
  docs/audit-logging-and-notifications.md
  docs/authentication-and-permissions.md
  docs/business-continuity.md
  docs/self-hosting-configuration.md
Due: none

Add Caldicott Principles alert to Patient details template option
  checktick_app/surveys/templates/surveys/group_builder.html
  checktick_app/surveys/templates/surveys/partials/demographics_builder.html
  s/test
Due: none

feat(DSPT): Implement Data Subject Request handling (GDPR compliance)
  checktick_app/core/templates/core/compliance.html
  checktick_app/core/views.py
  checktick_app/surveys/management/commands/process_dsr_deadlines.py
  checktick_app/surveys/migrations/0040_add_data_subject_request_support.py
  checktick_app/surveys/migrations/0041_add_dsr_escalation_and_freeze_log.py
  checktick_app/surveys/models.py
  checktick_app/surveys/services/export_service.py
  checktick_app/surveys/templates/surveys/dashboard.html
  checktick_app/surveys/templates/surveys/thank_you.html
  checktick_app/surveys/tests/test_data_subject_requests.py
  checktick_app/surveys/views.py
  docs/compliance/data-subject-request-procedure.md
  docs/compliance/information-asset-register.md
  docs/privacy-notice.md
  docs/self-hosting-scheduled-tasks.md
  docs/terms-of-service.md
Due: check-test-passwords

linting and sorting
  checktick_app/core/services/hosting.py
  checktick_app/surveys/management/commands/process_dsr_deadlines.py
  checktick_app/surveys/migrations/0040_add_data_subject_request_support.py
  checktick_app/surveys/migrations/0041_add_dsr_escalation_and_freeze_log.py
  checktick_app/surveys/tests/test_data_subject_requests.py
Due: check-test-passwords

adds GHSA-38jv-5279-wg99 2.6.3 to the list of tracked vulnerabilities (urllib3) thst ggshield does not support
  .github/workflows/security.yml
  docs/compliance/training.md
  docs/compliance/vulnerability-patch-log.md
  pyproject.toml
Due: pip-audit

add the cve also
  .github/workflows/security.yml
Due: none

missed one
  .github/workflows/security.yml
Due: none

run dev and prod deps together
  .github/workflows/security.yml
Due: none

--ignore-file
  .github/workflows/security.yml
Due: none

[feat] adds survey description to the edit title in the dashboard. This will allow users to place a mored detailed introduction to the survey to be shown to users completing it.
  checktick_app/surveys/templates/surveys/create.html
  checktick_app/surveys/templates/surveys/dashboard.html
  checktick_app/surveys/views.py
Due: none

chore(deps): bump axe-core to 4.11.1, refresh SRI and update workflow
  .github/workflows/update-cdn-libraries.yml
  checktick_app/static/js/axe-core.min.js
  docs/accessibility.md
  docs/cdn-libraries.md
  docs/compliance/vulnerability-patch-log.md
Due: none

Path conditions:
  check-test-passwords: any of: test.*\.py$
  pip-audit: any of: ^(pyproject\.toml|poetry\.lock)$
